// Your application styles go here
.leftpane{
  width: 50% !important;
  left: 0 !important;
  right: 50% !important;
}

.rightpane{
  width: 50% !important;
  right: 0 !important;
  left: 50% !important;
}

.bar-subheader{
  top: 103px !important;
}

.has-subheader{
  top: 146px !important;
}

.list-search{
	color: blue;
}

.list-added{
	color: red;
}

h3{
  text-align: center;
}

h5{
  text-align: center;
}

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin horizontalCenter {
  left: 50%;
  transform: translate(-50%, 0);
}

img.aisle{
  display: block;
  margin: 0 auto;
  max-width: 410px;
}

img.coupon{
  display: block;
  max-width: 200px;
  max-height: 200px;
  @include centerer;
}

.imgContainer{
  position: relative;
  width: 200px;
  height: 200px;
  @include horizontalCenter;
}

.couponContainer{
  border-style: solid;
  border-color: #b2b2b2;
  border-width: 1px;
  border-radius: 5px;
  padding: 10px;
}

p.coupon {
 margin: 0 auto;
 padding: 0px 20px; 
}

p.payment{
  color: black;
  font-size: large;
}

span.color {
  color: red;
}

.col-33.coupon{
  padding: 4px 4px;
}

button.coupon {
  margin-top: 10px;
  @include horizontalCenter;
}
