<table class="table">
  <thead>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>  
  </thead>
  <tbody>
    <tr>
      <td>Banana</td>
      <td>4</td>
      <td>2.50</td>
    </tr>
    <tr>
      <td>Tomato</td>
      <td>3</td>
      <td>1.40</td>
    </tr>  
  </tbody>  
</table>



<div>
  item: <input type="text" ng-model="item">
  quantity: <input type="number" min="0" ng-model="quantity">
  price: <input type="number" min="0" ng-model="price">
  <button class="btn btn-default" ng-click="scanItem()">Button</button>
</div>
