<div ng-switch on="state">
  <div ng-switch-when="scanning">
    <table class="table">
      <thead>
        <tr>
          <th class="col-md-3">Item</th>
          <th class="col-md-3">Quantity</th>
          <th class="col-md-3">Price</th>
          <th class="col-md-3"></th>
        </tr>  
      </thead>
      <tbody>
        <tr ng-repeat="item in items">
          <td>
            {{ item.itemName }}
          </td>
          <td>
            {{ item.quantity }}
          </td>
          <td>
            {{ item.price }}
          </td>
          <td>
            <button type="button" class="btn btn-danger" ng-click="removeItem($index)">Remove</button>
          </td>   
        </tr>
      </tbody>  
    </table>

    <div>
      item: <input type="text" ng-model="item.itemName">
      quantity: <input type="number" min="0" ng-model="item.quantity">
      price: <input type="number" min="0" ng-model="item.price">
      <button type="button" class="btn btn-default" ng-click="addItem()">Add</button>
    </div>

    <div class="row">
      <div class= "col-md-4 col-md-offset-8">
        <table class="table">
          <tbody>
            <tr>
              <td>Subtotal</td>
              <td>{{ subtotal }}</td>
            </tr>
            <tr>
              <td>Tax</td>
              <td>{{ tax }}</td>
            </tr>
            <tr>
              <td>Total</td>
              <td>{{ total }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class= "col-md-4 col-md-offset-8">
        <button type="button" class="btn btn-default btn-wide" ng-click="startPaying()">Checkout</button>
      </div>
    </div>    
  </div>

  <div ng-switch-when="paying">
    <div class="row">
      <div class= "col-md-4">
        <table class="table">
          <tbody>
            <tr>
              <td>Subtotal</td>
              <td>{{ subtotal }}</td>
            </tr>
            <tr>
              <td>Tax</td>
              <td>{{ tax }}</td>
            </tr>
            <tr>
              <td>Total</td>
              <td>{{ total }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class= "col-md-4">
        <button type="button" class="btn btn-default btn-wide" ng-click="startScanning()">Back</button><br>
        <button type="button" class="btn btn-default btn-wide" ng-show="!idVerificationNeeded || idVerified">Pay with credit card</button><br>
        <button type="button" class="btn btn-default btn-wide" ng-show="!idVerificationNeeded || idVerified">Pay with cash</button>
      </div>
    </div>

    <div ng-show="idVerificationNeeded && !idVerified">
      <p>
        Alcohol purchase requires ID verification<br>
        Proceed to employee ID verification station
      </p>  

      Verification code: <input type="text" ng-model="verification.input">
      <button type="button" class="btn btn-default" ng-click="verify()">Verify</button>
    </div>

  </div>
</div> 