<ion-view view-title="Coupons">
  <ion-content>
    <div class="row" ng-repeat="rows in chunkedData">
      <div class="col-33 coupon" ng-repeat="coupon in rows">
        <div class="couponContainer">
          <h5>{{coupon.name}}</h5>
          <div class="imgContainer">
            <img ng-src="{{coupon.coupon.image}}" class="coupon">
          </div>
          <p class="coupon">Original Price: {{coupon.price | currency}}</p>
          <p class="coupon">Discounted Price: <span class="color">{{coupon.coupon.price | currency}}</span></p>
          <button class="button coupon" ng-click="addToGrocery(coupon)">Add to List</button>
        </div>
      </div>
    </div>

    <!-- <div ng-repeat="coupon in coupons | orderBy: ['category','name']" class="row" ng-if="$index % 3 == 0">
      <div ng-if="coupons[$index]">
        {{coupons[$index].category}}{{coupons[$index].name}}
      </div>
      <div ng-if="coupons[$index+1]">
        {{coupons[$index+1].category}}{{coupons[$index+1].name}}
      </div>
      <div ng-if="coupons[$index+2]">
        {{coupons[$index+2].category}}{{coupons[$index+2].name}}
      </div>
   </div>  -->  

    <!-- <div class="row" ng-repeat="row in chunkedData | orderBy:['name']">
      <div class="col-33 coupon" ng-repeat="coupon in row | orderBy:['name']">
        <div class="couponContainer">
          <h5>{{coupon.category}}</h5>
            <div class="imgContainer">
              <img ng-src="{{coupon.coupon.image}}" class="coupon">
            </div>
            <p class="coupon">{{coupon.name}}</p>
            <p class="coupon">Original Price: {{coupon.price | currency}}</p>
            <p class="coupon">Discounted Price: <span class="color">{{coupon.coupon.price | currency}}</span></p>
            <button class="button coupon" ng-click="addToGrocery(coupon)">Add to List</button>
        </div>
      </div>
    </div> -->



    <!-- <div class="row" ng-repeat="rows in chunkedData | filter: query">
      <div class="span4" ng-repeat="item in rows">{{item.name}}</div>
    </div> -->

    <!-- <div ng-repeat="coupon in coupons | filter: query | orderBy:['category','name']">
      <div ng-if="$index % 3 === 0" class="row" ng-init="rowIndex=$index">
        <div ng-if="coupons[rowIndex]" class="couponContainer" ng-init="coupon=coupons[rowIndex]">
          <h5>{{coupon.category}}</h5>
          <p class="coupon">{{coupon.name}}</p>
        </div>
        <div ng-if="coupons[rowIndex+1]" class="couponContainer" ng-init="coupon=coupons[rowIndex+1]">
          <h5>{{coupon.category}}</h5>
          <p class="coupon">{{coupon.name}}</p>
        </div>
        <div ng-if="coupons[rowIndex+2]" class="couponContainer" ng-init="coupon=coupons[rowIndex+2]">
          <h5>{{coupon.category}}</h5>
          <p class="coupon">{{coupon.name}}</p>
        </div>

        <div ng-repeat="c in [coupons[rowIndex], coupons[rowIndex+1], coupons[rowIndex+2]]" class="col-33 coupon" ng-init="colIndex=$index">
          <div ng-if="coupons[rowIndex+colIndex]" class="couponContainer" ng-init="coupon=coupons[rowIndex+colIndex]">
            <h5>{{coupon.category}}</h5>
            <div class="imgContainer">
              <img ng-src="{{coupon.coupon.image}}" class="coupon">
            </div>
            <p class="coupon">{{coupon.name}}</p>
            <p class="coupon">Original Price: {{coupon.price | currency}}</p>
            <p class="coupon">Discounted Price: <span class="color">{{coupon.coupon.price | currency}}</span></p>
            <button class="button coupon" ng-click="addToGrocery(coupon)">Add to List</button>
          </div>
        </div>

      </div>
    </div> -->

  </ion-content>
</ion-view>