<ion-view view-title="Coupons">
  <ion-header-bar class ="bar-subheader item-input-inset">
    <label class = "item-input-wrapper">
      <i class = "icon ion-ios7-search placeholder-icon"></i>
      <input type ="text" placeholder="Search" ng-model ="query">
    </label>
  </ion-header-bar>

  <ion-content>
    <ion-list>
      <ion-item ng-repeat="coup in coupons|filter:query|orderBy:['category','name']"style="float:left"> 
        <div class="row">    
          <div class="col">
            <h3>{{coup.category}}</h3>
            <img ng-src={{coup.coupon.image}} height="200" width="200">
            <p>{{coup.name}}</p>
            <p>Original Price: {{coup.price}}</p>
            <p>Discounted Price: {{coup.coupon.price}}</p>
            <button class ="button" ng-click="addToGrocery(coup)">Add to List</button>    
          </div>
        </div>
      </ion-item>
    </ion list>
  </ion-content>
</ion-view>