<ion-view view-title="Coupons">
  <ion-header-bar class ="bar-subheader item-input-inset">
    <label class = "item-input-wrapper">
      <i class = "icon ion-ios7-search placeholder-icon"></i>
      <input type ="text" placeholder="Search" ng-model ="query">
    </label>
  </ion-header-bar>

  <ion-content>
    <div ng-repeat="coupon in coupons|filter:query|orderBy:['category','name']">
      <div ng-if="$index % 3 === 0" class="row" ng-init="rowIndex=$index">
        <div ng-repeat="i in [0, 1, 2]" class="col-33 coupon" ng-init="colIndex=$index">
          <div ng-if="coupons[rowIndex+colIndex]" class="couponContainer" ng-init="coupon=coupons[rowIndex+colIndex]">
            <h5>{{coupon.category}}</h5>
            <div class="imgContainer">
              <img ng-src="{{coupon.coupon.image}}" class="coupon">
            </div>
            <p class="coupon">{{coupon.name}}</p>
            <p class="coupon">Original Price: ${{coupon.price}}</p>
            <p class="coupon">Discounted Price: <span class="color">${{coupon.coupon.price}}</span></p>
            <button class="button coupon" ng-click="addToGrocery(coupon)">Add to List</button>
          </div>
        </div>  
      </div>
      </div>
    </div>
  </ion-content>
</ion-view>